.jumbotron {
  background-image: url(https://vectorgrovepreview.azureedge.net/b/a1/b0a1934.jpg?st=2019-11-06T10%3A03%3A41Z&se=2039-12-31T22%3A00%3A00Z&sp=r&sv=2018-03-28&sr=c&sig=zblTCxEF2g7nMxSIOzivUbXvPyq%2B%2Fz5hxWjVoAbSdWw%3D);
  color: #fff;
  text-shadow: 6px 2px 4px #000;
  background-size: contain;
}
